@inject MenuComponent MenuComponent
@inject Microsoft.AspNetCore.Components.IUriHelper UriHelper

 <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="/assets/img/logo.png" width="130" height="30" />
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">                     
           @if (UriHelper.GetAbsoluteUri().Contains("orders"))
           {
               <a class="navbar-item has-text-weight-bold has-text-grey-darker" onclick="@NavigateToOrders">Order</a>
               <a class="navbar-item" onclick="@NavigateToParcels">Parcels</a>
           }                        
           @if (UriHelper.GetAbsoluteUri().Contains("parcels"))
           {
               <a class="navbar-item" onclick="@NavigateToOrders">Order</a>
               <a class="navbar-item has-text-weight-bold has-text-grey-darker" onclick="@NavigateToParcels">Parcels</a>
           }           
           @if (UriHelper.GetAbsoluteUri().Contains("sign-in") || UriHelper.GetAbsoluteUri().Contains("sign-up"))
           {
               <a class="navbar-item" onclick="@NavigateToOrders">Order</a>
               <a class="navbar-item" onclick="@NavigateToParcels">Parcels</a>
           }
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                     @if (UriHelper.GetAbsoluteUri().Contains("sign-in"))
                     {
                       <button class="button @ClassSecondary" onclick="@NavigateToSignUp">Sign up</button>
                       <button class="button @ClassPrimary" onclick="@NavigateToSignIn">Sign in</button>  
                     }                        
                     @if (UriHelper.GetAbsoluteUri().Contains("sign-up"))
                     {
                       <button class="button @ClassPrimary" onclick="@NavigateToSignUp">Sign up</button>
                       <button class="button @ClassSecondary" onclick="@NavigateToSignIn">Sign in</button>  
                     }                    
                     @if (UriHelper.GetAbsoluteUri().Contains("orders") || UriHelper.GetAbsoluteUri().Contains("parcels"))
                     {
                       <button class="button @ClassSecondary" onclick="@NavigateToSignUp">Sign up</button>
                       <button class="button @ClassSecondary" onclick="@NavigateToSignIn">Sign in</button>  
                     }                     
                </div>
            </div>
        </div>
    </div>
</nav>

@functions
{
    private string ClassSecondary { get; set; } = "is-light";
    private string ClassPrimary { get; set; } = "is-primary";

    private void NavigateToSignUp()
    {
        UriHelper.NavigateTo("sign-up"); 
    }    
    
    private void NavigateToSignIn()
    {
        UriHelper.NavigateTo("sign-in"); 
    }   
    
    private void NavigateToParcels()
    {
        UriHelper.NavigateTo("parcels"); 
    }    
    
    private void NavigateToOrders()
    {
        UriHelper.NavigateTo("orders"); 
    }
}






